In [1]:
# Importação de ferramentas
import pandas as pd
from dbfread import DBF

In [2]:
# Leitura de .dbf e conversão para dataframe
dbf = DBF('OD_2017.dbf')
df = pd.DataFrame(iter(dbf))

In [3]:
# Enriquecimento de dados
col_ZONA = {
    1: "Sé", 2: "Parque Dom Pedro", 3: "Praça João Mendes", 4: "Ladeira da Memória", 5: "República", 
    6: "Santa Ifigênia", 7: "Luz", 8: "Bom Retiro", 9: "Ponte Pequena", 10: "Canindé", 11: "Bom Jardim", 
    12: "Pari", 13: "João Teodoro", 14: "Oriente", 15: "Bresser", 16: "Brás", 17: "Gasômetro", 
    18: "Independência", 19: "Cambuci", 20: "Glicério", 21: "Aclimação", 22: "Pires da Mota", 
    23: "Centro Cultural", 24: "Liberdade", 25: "Treze de Maio", 26: "Bexiga", 27: "Bela Vista", 
    28: "São Carlos do Pinhal", 29: "Masp", 30: "Higienópolis", 31: "Vila Buarque", 32: "Consolação", 
    33: "Pacaembu", 34: "FAAP", 35: "Santa Cecília", 36: "Marechal Deodoro", 37: "Rudge", 38: "Catumbi", 
    39: "Belém", 40: "Quarta Parada", 41: "Belenzinho", 42: "Celso Garcia", 43: "Mooca", 44: "Alto da Mooca", 
    45: "Parque da Mooca", 46: "Água Rasa", 47: "Vila Bertioga", 48: "Regente Feijó", 49: "Ana Rosa", 
    50: "Jardim da Glória", 51: "Chácara Klabin", 52: "Vila Mariana", 53: "Santa Cruz", 54: "Vila Clementino", 
    55: "França Pinto", 56: "Rodrigues Alves", 57: "Paraíso", 58: "Bosque da Saúde", 59: "Saúde", 
    60: "Planalto Paulista", 61: "Mirandópolis", 62: "Parque Ibirapuera", 63: "Jardim Luzitânia", 
    64: "Moema", 65: "Vila Helena", 66: "Bandeirantes", 67: "Vila Nova Conceição", 68: "Chácara Itaim", 
    69: "Vila Olímpia", 70: "Hélio Pelegrino", 71: "Brooklin", 72: "Vila Cordeiro", 73: "Berrini", 
    74: "Campinas", 75: "Pamplona", 76: "Jardins", 77: "Clínicas", 78: "Oscar Freire", 79: "Trianon", 
    80: "Jardim Paulistano", 81: "Jardim Europa", 82: "Pinheiros", 83: "Vila Madalena", 84: "PUC", 
    85: "Cardoso de Almeida", 86: "Zequinha de Abreu", 87: "Sumaré", 88: "Perdizes", 
    89: "Vila Anglo Brasileira", 90: "Pompéia", 91: "Santa Marina", 92: "Barra Funda", 
    93: "Francisco Matarazzo", 94: "Água Branca", 95: "Vila Beatriz", 96: "Alto de Pinheiros", 97: "Boaçava", 
    98: "Vila Anastácio", 99: "Lapa de Baixo", 100: "Lapa", 101: "Vila Ipojuca", 102: "Alto da Lapa", 
    103: "Gavião Peixoto", 104: "Bela Aliança", 105: "Vila Hamburguesa", 106: "CEASA", 107: "Vila Leopoldina", 
    108: "Emissário", 109: "Vila Zatt", 110: "Pirituba", 111: "São Domingos", 112: "Jardim Mutinga", 
    113: "Vila Jaguara", 114: "Parque do Jaraguá", 115: "Nova Jaraguá", 116: "Parada de Taipas", 
    117: "Parque Morro Doce", 118: "Anhanguera", 119: "Perus", 120: "Vista Alegre", 121: "Jardim Damasceno", 
    122: "Vila Souza", 123: "Vila Terezinha", 124: "Brasilândia", 125: "Vila Morro Grande", 126: "Itaberaba", 
    127: "Freguesia do Ó", 128: "Carandiru", 129: "Santana", 130: "Zaki Narchi", 131: "Tietê", 132: "Parque Anhembi", 
    133: "Alfredo Pujol", 134: "Santa Terezinha", 135: "Jardim São Paulo", 136: "Casa Verde", 137: "Parque Peruche", 
    138: "Limão", 139: "Jardim Primavera", 140: "Vila Santa Maria", 141: "Cachoeirinha", 142: "Jardim Peri", 
    143: "Reserva da Cantareira", 144: "Mandaqui", 145: "Horto Florestal", 146: "ETA Guaraú", 
    147: "Parque Palmas do Tremembé", 148: "Tremembé", 149: "Cantareira", 150: "Jardim das Pedras", 
    151: "Jardim Guapira", 152: "Parada Inglesa", 153: "Tucuruvi", 154: "Vila Gustavo", 155: "Cohab Jova Rural", 
    156: "Jaçanã", 157: "Parque Edu Chaves", 158: "Vila Medeiros", 159: "Jardim Brasil", 160: "Jardim Japão", 
    161: "Parque Novo Mundo", 162: "Vila Maria", 163: "Vila Isolina Mazzei", 164: "Vila Guilherme", 165: "Coroa", 
    166: "Gomes Cardim", 167: "Tatuapé", 168: "Chácara do Piqueri", 169: "Parque São Jorge", 170: "Penha", 
    171: "Tiquatira", 172: "Vila Esperança", 173: "Vila Ré", 174: "Rui Barbosa", 175: "Estação Eng. Goulart", 
    176: "Cangaíba", 177: "Parque Ecológico do Tietê", 178: "USP Leste I", 179: "USP Leste II", 
    180: "Ermelino Matarazzo", 181: "Parque Buturussu", 182: "Ponte Rasa", 183: "Burgo Paulista", 184: "Limoeiro", 
    185: "Laranja da China", 186: "Pedro José Nunes", 187: "Parque Cruzeiro do Sul", 188: "Vila Jacuí", 
    189: "Parada XV", 190: "Itaquera", 191: "Arena Corinthians", 192: "Vila Campanela", 193: "Araucárias", 
    194: "Parque Guarani", 195: "Rio Verde", 196: "Saudade", 197: "São Miguel Paulista", 
    198: "Cidade Nitro-Operária", 199: "Jardim Helena", 200: "Jardim Romano", 201: "Vila Curuçá", 
    202: "Jardim Robru", 203: "Lajeado", 204: "Fábrica Bandeirantes", 205: "Fazenda Itaim", 206: "Itaim Paulista", 
    207: "Jardim das Oliveiras", 208: "Vila Califórnia", 209: "Vila Carrão", 210: "Jardim Anália Franco", 
    211: "Vila Formosa", 212: "Barreira Grande", 213: "Aricanduva", 214: "Frei Mont'Alverne", 215: "Vila Matilde", 
    216: "Cidade Patriarca", 217: "Cidade A.E.Carvalho", 218: "Artur Alvim", 219: "Cidade Líder", 
    220: "Santa Marcelina", 221: "Parque Savoy", 222: "Vila Carmosina", 223: "Fazenda Caguaçu", 
    224: "Parque do Carmo", 225: "Gleba do Pêssego", 226: "José Bonifácio", 227: "Guaianases", 
    228: "Juscelino Kubitschek", 229: "Cidade Tiradentes", 230: "Santa Etelvina", 231: "Terceira Divisão", 
    232: "Iguatemi", 233: "Sítio Carrãozinho", 234: "Parque São Rafael", 235: "Rodolfo Pirani", 236: "Ipiranga", 
    237: "Sacomã", 238: "Alto do Ipiranga", 239: "Vila São José", 240: "Vila Monumento", 241: "Vila Independência", 
    242: "Vila Carioca", 243: "Moinho Velho", 244: "Vila Heliópolis", 245: "São João Clímaco", 246: "Anchieta", 
    247: "Vila das Mercês", 248: "Parque do Estado", 249: "Água Funda", 250: "Jardim da Saúde", 
    251: "Vila Gumercindo", 252: "Jardim Previdência", 253: "Tamanduateí", 254: "Orfanato", 255: "Vila Zelina", 
    256: "Linhas Corrente", 257: "Vila Ema", 258: "Parque São Lucas", 259: "Vila Cardoso Franco", 
    260: "Parque Santa Madalena", 261: "Jardim Colorado", 262: "Teotônio Vilela", 263: "Fazenda da Juta", 
    264: "São Mateus", 265: "Cidade IV Centenário", 266: "Rio Claro", 267: "Cidade Satélite", 268: "Joaquim Nabuco", 
    269: "Vieira de Moraes", 270: "Campo Belo", 271: "Congonhas", 272: "Jardim Aeroporto", 
    273: "Vila Santa Catarina", 274: "Jabaquara", 275: "Cidade Vargas", 276: "Jardim Bom Clima", 277: "Cupecê", 
    278: "Jardim Miriam", 279: "Vila Missionária", 280: "Jurubatuba", 281: "Vila São Pedro", 282: "Campo Grande", 
    283: "Vila Sabará", 284: "Mar Paulista", 285: "Pedreira", 286: "Vila Socorro", 287: "Parque Interlagos", 
    288: "Jardim Represa", 289: "Rio Bonito", 290: "SESC Interlagos", 291: "Jardim Presidente", 292: "Vila Natal", 
    293: "Grajaú", 294: "Cocaia", 295: "Belmira Marin", 296: "Bororé", 297: "Jaceguava", 298: "Parelheiros", 
    299: "Marsilac", 300: "Granja Julieta", 301: "Chácara Flora", 302: "Santo Amaro", 303: "Vila Miranda", 
    304: "Jardim São Luís", 305: "Centro Empresarial", 306: "Guarapiranga", 307: "Jardim Capela", 308: "Riviera", 
    309: "Jardim Turquesa", 310: "Morro do Índio", 311: "Jardim Ângela", 312: "Capão Redondo", 
    313: "Jardim Sônia Ingá", 314: "Adventista", 315: "Parque Fernanda", 316: "Morumbi", 317: "Jóquei Clube", 
    318: "Fazenda Morumbi", 319: "Real Parque", 320: "Paraisópolis", 321: "Jardim Vitória Régia", 
    322: "Vila Suzana", 323: "Parque Arariba", 324: "Jardim Mitsutani", 325: "Pirajussara", 326: "Jardim Umarizal", 
    327: "Portal do Morumbi", 328: "Jardim Jussara", 329: "Vila Sônia", 330: "Jardim Maria do Carmo", 
    331: "Jardim Cambará", 332: "Jardim João XXIII", 333: "Raposo Tavares", 334: "Rio Pequeno", 
    335: "Jardim Ester Yolanda", 336: "Jardim Adalgiza", 337: "Parque Continental", 338: "Jaguaré", 
    339: "Cidade Universitária", 340: "Butantã", 341: "Jardim Caxingui", 342: "Jardim Bonfiglioli", 
    343: "Melhoramentos", 344: "Caieiras", 345: "Serpa", 346: "Santa Inês", 347: "Cajamar", 348: "Jordanésia", 
    349: "Cristais", 350: "Baltazar Fidélis", 351: "Franco da Rocha", 352: "Parque do Juqueri", 353: "Palmares", 
    354: "Sete Voltas", 355: "Afonso Moreno", 356: "Francisco Morato", 357: "Cascatas", 358: "Mairiporã", 
    359: "Paiva Castro", 360: "Colinas", 361: "Pirucaia", 362: "Guarulhos", 363: "Macedo", 364: "Cumbica", 
    365: "Várzea do Palácio", 366: "Ponte Grande", 367: "Gopouva", 368: "Vila São Rafael", 369: "Vila Rosália", 
    370: "André Luiz", 371: "Jardim Santa Clara", 372: "Parque CECAP", 373: "Taboão", 374: "Aeroporto", 
    375: "Jardim Presidente Dutra", 376: "Baquirivu", 377: "Água Chata", 378: "Pimentas", 379: "Cabuçu", 
    380: "Invernada", 381: "Morro dos Macacos", 382: "Chácaras Bananal", 383: "Estrada de Nazaré Paulista", 
    384: "Água Azul", 385: "Vasconcelândia", 386: "Arujazinho", 387: "Arujá", 388: "Fazenda Velha", 
    389: "Santa Isabel", 390: "Jaguari", 391: "Ferraz de Vasconcelos", 392: "Paiol Velho", 393: "Santos Dumont", 
    394: "Jardim São José", 395: "Poá", 396: "Itaquaquecetuba", 397: "Quinta da Boa Vista", 398: "Bonsucesso", 
    399: "Pinheirinho", 400: "Miguel Badra", 401: "Suzano", 402: "Guaió", 403: "Ouro Fino", 404: "Mogi das Cruzes", 
    405: "Estudantes", 406: "Vila Oliveira", 407: "Brás Cubas", 408: "Jundiapeba", 409: "Jardim Graziella", 
    410: "Itapeti", 411: "Sabaúna", 412: "César de Souza", 413: "Taiaçupeba", 414: "Biritiba-Mirim", 
    415: "Salesópolis", 416: "Guararema", 417: "Santa Paula", 418: "Vila Gerti", 419: "Estrada das Lágrimas", 
    420: "Santo Antônio", 421: "São Caetano do Sul", 422: "Santo André", 423: "Vila Gilda", 424: "Valparaíso", 
    425: "Sacadura Cabral", 426: "Campestre", 427: "Utinga", 428: "Vila Lucinda", 429: "Parque Oratório", 
    430: "Parque das Nações", 431: "Jardim do Estádio", 432: "Carijós", 433: "Parque do Pedroso", 
    434: "Paranapiacaba", 435: "Capuava", 436: "Mauá", 437: "Jardim Zaíra", 438: "Barão de Mauá", 
    439: "Estrada do Carneiro", 440: "Ribeirão Pires", 441: "Jardim Santa Luzia", 442: "Ouro Fino Paulista", 
    443: "Parque Sete Pontes", 444: "Rio Grande da Serra", 445: "Planalto", 446: "Paulicéia", 447: "Rudge Ramos", 
    448: "Baeta Neves", 449: "São Bernardo do Campo", 450: "Montanhão", 451: "Demarchi", 452: "Riacho Grande", 
    453: "Caminho do Mar", 454: "Reservatório Billings", 455: "Diadema", 456: "Jardim das Nações", 
    457: "Piraporinha", 458: "Vila Conceição", 459: "Eldorado", 460: "Taboão da Serra", 461: "Jardim Irapuã", 
    462: "Parque Pinheiros", 463: "Parque Industrial", 464: "Santo Eduardo", 465: "São Marcos", 
    466: "Embu das Artes", 467: "Ressaca", 468: "Itapecerica da Serra", 469: "Jardim Petrópolis", 
    470: "Embu-Mirim", 471: "São Lourenço da Serra", 472: "Embu-Guaçu", 473: "Cipó", 474: "Santa Rita", 
    475: "Juquitiba", 476: "Barueri", 477: "Aphaville", 478: "Tamboré", 479: "Antônio João", 480: "Vutopoca", 
    481: "Jardim Silveira", 482: "Jardim Belval", 483: "Morada dos Lagos", 484: "Cidade Ariston", 
    485: "Carapicuíba", 486: "Jardim Planalto", 487: "Aldeia de Carapicuíba", 488: "Estrada do Jacarandá", 
    489: "Osasco", 490: "Vila Yara", 491: "Bussocaba City", 492: "Nova Granada", 493: "Recanto das Rosas", 
    494: "Jardim Novo Osasco", 495: "Jardim Veloso", 496: "Quitaúna", 497: "Jardim Piratininga", 
    498: "Presidente Altino", 499: "Munhoz Junior", 500: "Rochdale", 501: "Mutinga", 502: "Três Montanhas", 
    503: "Ribeirão Itaqui", 504: "Jandira", 505: "Ribeirão das Pombas", 506: "Granja Viana", 
    507: "Fernando Nobre", 508: "Cotia", 509: "Capueira", 510: "Caucaia", 511: "Caucaia do Alto", 
    512: "Vargem Grande Paulista", 513: "Quatro Encruzilhadas", 514: "Itapevi", 515: "Amador Bueno", 
    516: "Santana de Parnaíba", 517: "Pirapora do Bom Jesus", 999: "Não identificado"
}

df['ZONA'] = df['ZONA'].map(col_ZONA)
df['ZONA_ESC'] = df['ZONA_ESC'].map(col_ZONA)
df['ZONATRA1'] = df['ZONATRA1'].map(col_ZONA)
df['ZONATRA2'] = df['ZONATRA2'].map(col_ZONA)
df['ZONA_O'] = df['ZONA_O'].map(col_ZONA)
df['ZONA_D'] = df['ZONA_D'].map(col_ZONA)
df['ZONA_T1'] = df['ZONA_T1'].map(col_ZONA)
df['ZONA_T2'] = df['ZONA_T2'].map(col_ZONA)
df['ZONA_T3'] = df['ZONA_T3'].map(col_ZONA)

col_MUNI = {
    1: "Arujá", 2: "Barueri", 3: "Biritiba-Mirim", 4: "Caieiras", 5: "Cajamar", 6: "Carapicuíba", 7: "Cotia", 
    8: "Diadema", 9: "Embu das Artes", 10: "Embu-Guaçu", 11: "Ferraz de Vasconcelos", 12: "Francisco Morato", 
    13: "Franco da Rocha", 14: "Guararema", 15: "Guarulhos", 16: "Itapecerica da Serra", 17: "Itapevi", 
    18: "Itaquaquecetuba", 19: "Jandira", 20: "Juquitiba", 21: "Mairiporã", 22: "Mauá", 23: "Mogi das Cruzes", 
    24: "Osasco", 25: "Pirapora do Bom Jesus", 26: "Poá", 27: "Ribeirão Pires", 28: "Rio Grande da Serra", 
    29: "Salesópolis", 30: "Santa Isabel", 31: "Santana de Parnaíba", 32: "Santo André", 
    33: "São Bernardo do Campo", 34: "São Caetano do Sul", 35: "São Lourenço da Serra", 36: "São Paulo", 
    37: "Suzano", 38: "Taboão da Serra", 39: "Vargem Grande Paulista", 99: "Município externo"
}

df['MUNI_DOM'] = df['MUNI_DOM'].map(col_MUNI)
df['MUNIESC'] = df['MUNIESC'].map(col_MUNI)
df['MUNITRA1'] = df['MUNITRA1'].map(col_MUNI)
df['MUNITRA2'] = df['MUNITRA2'].map(col_MUNI)
df['MUNI_O'] = df['MUNI_O'].map(col_MUNI)
df['MUNI_D'] = df['MUNI_D'].map(col_MUNI)
df['MUNI_T1'] = df['MUNI_T1'].map(col_MUNI)
df['MUNI_T2'] = df['MUNI_T2'].map(col_MUNI)
df['MUNI_T3'] = df['MUNI_T3'].map(col_MUNI)

col_F_DOM = {0: "Demais Registros", 1: "Primeiro Registro do Domicílio"}

col_F_FAM = {0: "Demais Registros", 1: "Primeiro Registro da Família"}

col_F_PESS = {0: "Demais registros", 1: "Primeiro registro da pessoa"}

col_CD_ENTRE = {1: "Completa com Viagem", 2: "Completa sem Viagem"}

col_TIPO_DOM = {1: "Particular", 2: "Coletivo"}

col_BOOL = {0: "Não", 1: "Sim"}

col_CONDMORA = {1: "Alugada", 2: "Própria", 3: "Cedida", 4: "Outros", 5: "Não Respondeu"}

col_NAO_DCL_IT = {0: "Não Declarou Itens de Conforto", 1: "Declarou Itens de Conforto"}

col_CRITERIOBR = {1: "A", 2: "B1", 3: "B2", 4: "C1", 5: "C2", 6: "D-E"}

col_CD_RENFA = {
    1: "Renda Familiar Declarada e Maior que Zero", 2: "Renda Familiar Declarada como Zero", 
    3: "Renda Atribuída pelo Critério Brasil", 4: "Renda Atribuída pela Média da Zona"
}

col_SIT_FAM = {
    1: "Pessoa Responsável", 2: "Cônjuge/Companheiro(a)", 3: "Filho(a)/Enteado(a)", 4: "Outro Parente", 
    5: "Agregado", 6: "Empregado Residente", 7: "Parente do Empregado Residente"
}

col_SEXO = {1: "Masculino", 2: "Feminino"}

col_ESTUDA = {
    1: "Não", 2: "Creche/Pré-Escola", 3: "1º Grau /Fundamental", 4: "2º Grau/Médio", 
    5: "Superior/Universitário", 6: "Outros"
}

col_GRAU_INS = {
    1: "Não-Alfabetizado/Fundamental I Incompleto", 2: "Fundamental I Completo/Fundamental II Incompleto", 
    3: "Fundamental II Completo/Médio Incompleto", 4: "Médio Completo/Superior Incompleto", 5: "Superior Completo"
}

col_CD_ATIVI = {
    1: "Tem trabalho regular", 2: "Faz bico", 3: "Em Licença Médica", 4: "Aposentado/Pensionista", 
    5: "Sem Trabalho", 6: "Nunca Trabalhou", 7: "Dona de Casa", 8: "Estudante"
}

col_CO_REN_I = {1: "Tem Renda", 2: "Não Tem Renda", 3: "Não Respondeu"}

col_TIPO_ESC = {1: "Pública", 2: "Particular"}

col_TRAB_RE = {1: "Sim", 2: "Não", 3: "Sem endereço fixo"}

col_TRABEXT = {1: "Sim", 2: "Não"}

col_OCUP = {
    1: "Membros superiores do poder público, dirigentes de organizações de interesse público e de empresas e gerentes",
    2: "Profissionais das ciências e das artes", 3: "Técnicos de nível médio", 
    4: "Trabalhadores de serviços administrativos", 5: "Trabalhadores dos serviços", 
    6: "Vendedores do comércio em lojas e mercados", 7: "Trabalhadores agropecuários, florestais e da pesca", 
    8: "Trabalhadores da produção de bens e serviços industriais", 
    9: "Trabalhadores em serviços de reparação e manutenção", 
    10: "Membros das Forças Armadas, Policiais e Bombeiros Militares", 11: "Outras ocupações"
}

col_SETOR = {
    1: "Agrícola", 2: "Construção Civil", 3: "Indústria", 4: "Comércio", 
    5: "Serviço de Transporte de Carga", 6: "Serviço de Transporte de Passageiros", 
    7: "Serviço Creditício-financeiro", 8: "Serviço Pessoal", 9: "Serviço de Alimentação", 
    10: "Serviço de Saúde", 11: "Serviço de Educação", 12: "Serviço Especializado", 
    13: "Serviço de Administração Pública", 14: "Outros Serviços"
}

col_VINC = {
    1: "Assalariado com carteira", 2: "Assalariado sem carteira", 3: "Funcionário público", 4: "Autônomo", 
    5: "Empregador", 6: "Profissional Liberal", 7: "Dono de negócio familiar", 8: "Trabalhor familiar"
}

col_DIA_SEM = {2: "Segunda-feira", 3: "Terça-feira", 4: "Quarta-feira", 5: "Quinta-feira", 6: "Sexta-feira"}


col_MOTIVO = {
    1: "Trabalho Indústria", 2: "Trabalho Comércio", 3: "Trabalho Serviços", 4: "Escola/Educação", 
    5: "Compras", 6: "Médico/Dentista/Saúde", 7: "Recreação/Visitas/Lazer", 8: "Residência", 
    9: "Procurar Emprego", 10: "Assuntos Pessoais", 11: "Refeição"
}

col_SERVIR = {1: "Sim", 2: "Não"}

col_MODO = {
    1: "Metrô", 2: "Trem", 3: "Monotrilho", 4: "Ônibus/micro-ônibus/perua do município de São Paulo", 
    5: "Ônibus/micro-ônibus/perua de outros municípios", 6: "Ônibus/micro-ônibus/perua metropolitano", 
    7: "Transporte Fretado", 8: "Transporte Escolar", 9: "Dirigindo Automóvel", 10: "Passageiro de Automóvel", 
    11: "Táxi Convencional", 12: "Táxi não Convencional", 13: "Dirigindo Moto", 14: "Passageiro de Moto", 
    15: "Bicicleta", 16: "A Pé", 17: "Outros"
}

col_TIPVG = {1: "Coletivo", 2: "Individual", 3: "A pé", 4: "Bicicleta"}

col_PAG_VIAG = {1: "Você/Sua família", 2: "Empregador", 3: "Isento", 4: "Outros", 5: "Não respondeu"}

col_TP_ESAUTO = {
    1: "Não estacionou", 2: "Zona azul", 3: "Patrocinado", 4: "Proprio", 5: "Meio-fio", 6: "Avulso", 
    7: "Mensal", 8: "E-fácil", 9: "Não respondeu"
}

col_PE_BICI = {
    1: "Pequena distância", 2: "Condução cara", 3: "Ponto/Estação distante", 4: "Condução demora para passar", 
    5: "Viagem demorada", 6: "Condução lotada", 7: "Atividade física", 8: "Outros motivos"
}

col_VIA_BICI = {1: "Sim", 2: "Não"}

col_TP_ESTBICI = {
    1: "Bicicletário gratuito", 2: "Bicicletário pago", 3: "Local privado", 4: "Rua/Local público", 
    5: "Guardador de rua", 6: "Estação de bicicleta", 7: "Paraciclo público", 8: "Outros"
}

df['F_DOM'] = df['F_DOM'].map(col_F_DOM)
df['CD_ENTRE'] = df['CD_ENTRE'].map(col_CD_ENTRE)
df['TIPO_DOM'] = df['TIPO_DOM'].map(col_TIPO_DOM)
df['AGUA'] = df['AGUA'].map(col_BOOL)
df['RUA_PAVI'] = df['RUA_PAVI'].map(col_BOOL)
df['F_FAM'] = df['F_FAM'].map(col_F_FAM)
df['CONDMORA'] = df['CONDMORA'].map(col_CONDMORA)
df['NAO_DCL_IT'] = df['NAO_DCL_IT'].map(col_NAO_DCL_IT)
df['CRITERIOBR'] = df['CRITERIOBR'].map(col_CRITERIOBR)
df['CD_RENFA'] = df['CD_RENFA'].map(col_CD_RENFA)
df['F_PESS'] = df['F_PESS'].map(col_F_PESS)
df['SIT_FAM'] = df['SIT_FAM'].map(col_SIT_FAM)
df['SEXO'] = df['SEXO'].map(col_SEXO)
df['ESTUDA'] = df['ESTUDA'].map(col_ESTUDA)
df['GRAU_INS'] = df['GRAU_INS'].map(col_GRAU_INS)
df['CD_ATIVI'] = df['CD_ATIVI'].map(col_CD_ATIVI)
df['CO_REN_I'] = df['CO_REN_I'].map(col_CO_REN_I)
df['TIPO_ESC'] = df['TIPO_ESC'].map(col_TIPO_ESC)
df['TRAB1_RE'] = df['TRAB1_RE'].map(col_TRAB_RE)
df['TRABEXT1'] = df['TRABEXT1'].map(col_TRABEXT)
df['OCUP1'] = df['OCUP1'].map(col_OCUP)
df['SETOR1'] = df['SETOR1'].map(col_SETOR)
df['VINC1'] = df['VINC1'].map(col_VINC)
df['TRAB2_RE'] = df['TRAB2_RE'].map(col_TRAB_RE)
df['TRABEXT2'] = df['TRABEXT2'].map(col_TRABEXT)
df['OCUP2'] = df['OCUP2'].map(col_OCUP)
df['SETOR2'] = df['SETOR2'].map(col_SETOR)
df['VINC2'] = df['VINC2'].map(col_VINC)
df['DIA_SEM'] = df['DIA_SEM'].map(col_DIA_SEM)
df['MOTIVO_O'] = df['MOTIVO_O'].map(col_MOTIVO)
df['MOTIVO_D'] = df['MOTIVO_D'].map(col_MOTIVO)
df['SERVIR_O'] = df['SERVIR_O'].map(col_SERVIR)
df['SERVIR_D'] = df['SERVIR_D'].map(col_SERVIR)
df['MODO1'] = df['MODO1'].map(col_MODO)
df['MODO2'] = df['MODO2'].map(col_MODO)
df['MODO3'] = df['MODO3'].map(col_MODO)
df['MODO4'] = df['MODO4'].map(col_MODO)
df['MODOPRIN'] = df['MODOPRIN'].map(col_MODO)
df['TIPVG'] = df['TIPVG'].map(col_TIPVG)
df['PAG_VIAG'] = df['PAG_VIAG'].map(col_PAG_VIAG)
df['TP_ESAUTO'] = df['TP_ESAUTO'].map(col_TP_ESAUTO)
df['PE_BICI'] = df['PE_BICI'].map(col_PE_BICI)
df['VIA_BICI'] = df['VIA_BICI'].map(col_VIA_BICI)
df['TP_ESTBICI'] = df['TP_ESTBICI'].map(col_TP_ESTBICI)

In [4]:
# Segregação de bicicletas
bike = df[(df['MODO1'] == 'Bicicleta') | 
          (df['MODO2'] == 'Bicicleta') | 
          (df['MODO3'] == 'Bicicleta') | 
          (df['MODO4'] == 'Bicicleta')]

In [5]:
# Remoção de duplicatas
bike_limpo = bike.drop_duplicates(subset=['ID_PESS'], keep="last")

In [6]:
# Checagem com resultado do Metrô
bike_limpo['FE_PESS'].sum()

107679.890429

In [7]:
# Segregação por sexo
bike_sexo = bike_limpo.groupby('SEXO').agg({'FE_PESS': 'sum'}).reset_index()
bike_sexo['QUANTIDADE'] = round(bike_sexo['FE_PESS']).astype(int)
bike_sexo['PROP'] = (bike_sexo['FE_PESS'] / bike_sexo['FE_PESS'].sum()) * 100
bike_sexo

        SEXO       FE_PESS  QUANTIDADE       PROP
0   Feminino  11159.806698       11160  10.363873
1  Masculino  96520.083731       96520  89.636127

In [8]:
# Segregação por faixa etária
fx_et = []
for row in bike_limpo['IDADE']:
    if row < 18:
        fx_et.append('Menor de 18 anos')
    elif row >= 18 and row < 25:
        fx_et.append('18 a 24 anos')
    elif row >= 25 and row < 31:
        fx_et.append('25 a 30 anos')
    elif row >= 31 and row < 41:
        fx_et.append('31 a 40 anos')
    elif row >= 41 and row < 51:
        fx_et.append('41 a 50 anos')
    elif row >= 51 and row < 61:
        fx_et.append('51 a 60 anos')
    else:
        fx_et.append('61 anos ou mais')

bike_limpo['FAIXA ETÁRIA'] = fx_et
bike_fx_et = bike_limpo.groupby('FAIXA ETÁRIA').agg({'FE_PESS': 'sum'}).reset_index()
bike_fx_et['QUANTIDADE'] = round(bike_fx_et['FE_PESS']).astype(int)
bike_fx_et['PROP'] = (bike_fx_et['FE_PESS'] / bike_fx_et['FE_PESS'].sum()) * 100
bike_fx_et

/home/rodolfo/.local/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

       FAIXA ETÁRIA       FE_PESS  QUANTIDADE       PROP
0      18 a 24 anos  19589.668124       19590  18.192504
1      25 a 30 anos  15526.783821       15527  14.419390
2      31 a 40 anos  24783.265879       24783  23.015686
3      41 a 50 anos  19721.032772       19721  18.314499
4      51 a 60 anos  13204.573933       13205  12.262804
5   61 anos ou mais   2150.426272        2150   1.997055
6  Menor de 18 anos  12704.139628       12704  11.798061

In [9]:
# Segregação por grau de instrução
bike_gr = bike_limpo.groupby('GRAU_INS').agg({'FE_PESS': 'sum'}).reset_index()
bike_gr['QUANTIDADE'] = round(bike_gr['FE_PESS']).astype(int)
bike_gr['PROP'] = (bike_gr['FE_PESS'] / bike_gr['FE_PESS'].sum()) * 100
bike_gr

,GRAU_INS,FE_PESS,QUANTIDADE,PROP
0,Fundamental I Completo/Fundamental II Incompleto,14498.006622,14498,13.463987
1,Fundamental II Completo/Médio Incompleto,18215.886731,18216,16.916703
2,Médio Completo/Superior Incompleto,43864.319537,43864,40.735851
3,Não-Alfabetizado/Fundamental I Incompleto,12934.324848,12934,12.011830
4,Superior Completo,18167.352691,18167,16.871630

In [10]:
# Segregação por condição de atividade
bike_ca = bike_limpo.groupby('CD_ATIVI').agg({'FE_PESS': 'sum'}).reset_index()
bike_ca['QUANTIDADE'] = round(bike_ca['FE_PESS']).astype(int)
bike_ca['PROP'] = (bike_ca['FE_PESS'] / bike_ca['FE_PESS'].sum()) * 100
bike_ca

                 CD_ATIVI       FE_PESS  QUANTIDADE       PROP
0  Aposentado/Pensionista   1649.025379        1649   1.531414
1            Dona de Casa    478.790152         479   0.444642
2               Estudante  11995.926563       11996  11.140359
3                Faz bico   8219.556237        8220   7.633325
4         Nunca Trabalhou   1230.277267        1230   1.142532
5            Sem Trabalho   8710.999855        8711   8.089718
6    Tem trabalho regular  75395.314976       75395  70.018009

In [11]:
# Segregação por condição econômica
bike_ce = bike_limpo.groupby('CRITERIOBR').agg({'FE_PESS': 'sum'}).reset_index()
bike_ce['QUANTIDADE'] = round(bike_ce['FE_PESS']).astype(int)
bike_ce['PROP'] = (bike_ce['FE_PESS'] / bike_ce['FE_PESS'].sum()) * 100
bike_ce

  CRITERIOBR       FE_PESS  QUANTIDADE       PROP
0          A   8229.703445        8230   7.673061
1         B1   8197.677076        8198   7.643200
2         B2  24206.577264       24207  22.569286
3         C1  30853.617074       30854  28.766732
4         C2  25588.976302       25589  23.858182
5        D-E  10177.957974       10178   9.489539

In [12]:
# Segregação por condição de moradia
bike_cm = bike_limpo.groupby('CONDMORA').agg({'FE_PESS': 'sum'}).reset_index()
bike_cm['QUANTIDADE'] = round(bike_cm['FE_PESS']).astype(int)
bike_cm['PROP'] = (bike_cm['FE_PESS'] / bike_cm['FE_PESS'].sum()) * 100
bike_cm

        CONDMORA       FE_PESS  QUANTIDADE       PROP
0        Alugada  30266.831899       30267  28.108156
1         Cedida   6615.832622        6616   6.143982
2  Não Respondeu     49.163800          49   0.045657
3         Outros   1119.704447        1120   1.039845
4        Própria  69628.357661       69628  64.662359

In [13]:
# Segregação por posse de carro ou moto
cr_mt = []
bike_limpo['CARRO E/OU MOTO'] = bike_limpo['QT_AUTO'] + bike_limpo['QT_MOTO']
for row in bike_limpo['CARRO E/OU MOTO']:
    if row == 0:
        cr_mt.append('Não')
    elif row > 0:
        cr_mt.append('Sim')
    else:
        cr_mt.append('Não respondeu')
bike_limpo['CARRO_MOTO'] = cr_mt
bike_cr_mt = bike_limpo.groupby('CARRO_MOTO').agg({'FE_PESS': 'sum'}).reset_index()
bike_cr_mt['QUANTIDADE'] = round(bike_cr_mt['FE_PESS']).astype(int)
bike_cr_mt['PROP'] = (bike_cr_mt['FE_PESS'] / bike_cr_mt['FE_PESS'].sum()) * 100
bike_cr_mt

/home/rodolfo/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/rodolfo/.local/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

      CARRO_MOTO       FE_PESS  QUANTIDADE       PROP
0            Não  57771.232876       57771  53.650902
1  Não respondeu    425.381294         425   0.395042
2            Sim  49483.276259       49483  45.954055

In [14]:
# Segregação por posse de bicicleta
bici = []
for row in bike_limpo['QT_BICICLE']:
    if row == 0:
        bici.append('Não')
    elif row > 0:
        bici.append('Sim')
    else:
        bici.append('Não respondeu')
bike_limpo['BICICLETA'] = bici
bike_bici = bike_limpo.groupby('BICICLETA').agg({'FE_PESS': 'sum'}).reset_index()
bike_bici['QUANTIDADE'] = round(bike_bici['FE_PESS']).astype(int)
bike_bici['PROP'] = (bike_bici['FE_PESS'] / bike_bici['FE_PESS'].sum()) * 100
bike_bici

/home/rodolfo/.local/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

       BICICLETA       FE_PESS  QUANTIDADE       PROP
0            Não   8234.604327        8235   7.647300
1  Não respondeu    425.381294         425   0.395042
2            Sim  99019.904808       99020  91.957657

In [15]:
# Segregação por salário mínimo (considerando valor da época)
sal = []
for row in bike_limpo['RENDA_FA']:
    if row < 954:
        sal.append('Menos de 1 SM')
    elif row >= 954 and row <= 1908:
        sal.append('De 1 a 2 SM')
    elif row > 1908 and row <= 3816:
        sal.append('De 2 a 4 SM')
    elif row > 3816 and row <= 5724:
        sal.append('De 4 a 6 SM')
    elif row > 5724 and row <= 7632:
        sal.append('De 6 a 8 SM')
    elif row > 7632 and row <= 9540:
        sal.append('De 8 a 10 SM')
    else:
        sal.append('Mais de 10 SM')
bike_limpo['RENDA_FAMILIAR'] = sal
bike_rf = bike_limpo.groupby('RENDA_FAMILIAR').agg({'FE_PESS': 'sum'}).reset_index()
bike_rf['QUANTIDADE'] = round(bike_rf['FE_PESS']).astype(int)
bike_rf['PROP'] = (bike_rf['FE_PESS'] / bike_rf['FE_PESS'].sum()) * 100
bike_rf

/home/rodolfo/.local/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  RENDA_FAMILIAR       FE_PESS  QUANTIDADE       PROP
0    De 1 a 2 SM  22915.621608       22916  21.281245
1    De 2 a 4 SM  47396.921562       47397  44.016502
2    De 4 a 6 SM  14707.699447       14708  13.658724
3    De 6 a 8 SM   5790.775464        5791   5.377769
4   De 8 a 10 SM   4270.840186        4271   3.966237
5  Mais de 10 SM   8239.326048        8239   7.651685
6  Menos de 1 SM   4358.706114        4359   4.047837